
<a href="@Url.Action("NewMail", "Secretary")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-plus"></i> @Resources.Resource.NewMail</a>
<a href="@Url.Action("Mails", "Secretary")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-inbox"></i> @Resources.Resource.Mails</a>
<a href="@Url.Action("Employees", "Secretary")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-user-tie"></i> @Resources.Resource.Employees</a>
<a href="@Url.Action("Companys", "Secretary")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-building"></i> @Resources.Resource.Companies</a>
<a href="@Url.Action("Contacts", "Secretary")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-address-book"></i> @Resources.Resource.Contacts</a>