
<a href="@Url.Action("NewMail", "Secretary")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-plus"></i> New Mail</a>
<a href="@Url.Action("ListMails", "Secretary")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-inbox"></i> List Mails</a>
<a href="@Url.Action("Tasks", "Secretary")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-tasks"></i> Tasks</a>
<a href="@Url.Action("Employees", "Secretary")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-user-tie"></i> Employees</a>
<a href="@Url.Action("Companys", "Secretary")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-building"></i> Companys</a>
<a href="@Url.Action("Contacts", "Secretary")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-address-book"></i> Contacts</a>