
@{
    ViewBag.Title = "New Mail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<form id="form-new-mail" enctype="multipart/form-data">
    <div id="new-mail-left" class="p-3 mr-5 mt-2">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" for="select-type-mail">@Resources.Resource.Type</span>
            </div>
            <select class="form-control selectpicker" name="type" id="select-type" >
                <option value="" selected>@Resources.Resource.ChooseSelect</option>
                <option value="incoming">@Resources.Resource.Incoming</option>
                <option value="outgoing">@Resources.Resource.Outgoing</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">@Resources.Resource.Date</span>
            </div>
            <input type="date" class="form-control" name="date" id="input-date">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">@Resources.Resource.Sender</span>
            </div>
            <select class="form-control selectpicker" id="select-sender" name="sender" data-live-search="true" header="true" >
                <option value="" selected>@Resources.Resource.ChooseSelect</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">@Resources.Resource.Receiver</span>
            </div>
            <select class="form-control selectpicker" id="select-receiver" name="receiver" data-live-search="true" >
                <option value="" selected>@Resources.Resource.ChooseSelect</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">@Resources.Resource.Object</span>
            </div>
            <input type="text" class="form-control" id="input-object" name="object" placeholder="@Resources.Resource.Optional" autocomplete="off">
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">@Resources.Resource.Message</span>
            </div>
            <textarea class="form-control" style="height: 290px;" autocomplete="off" name="message" id="input-message" ></textarea>
        </div>

        <button type="submit" id="btn-add-mail" class="mt-3 btn btn-outline-primary btn-lg btn-block b">@Resources.Resource.AddMail</button>

    </div>
    <div id="new-mail-right" class="p-1 overflow-hidden">

        <div id="div-ocr-view" class="d-none">
            <iframe id="iframe-mail"></iframe>
            <div class="btn-group w-100" role="group" aria-label="Basic example">
                <button type="button" id="btn-mail-return" class="btn btn-block btn-secondary btn-sm mt-0">@Resources.Resource.Return</button>
                <button type="button" id="btn-mail-autoFill" class="btn btn-block btn-secondary btn-sm mt-0">@Resources.Resource.AutoFill</button>
            </div>
        </div>

        <div class="drop-area mt-3" id="mail-upload">
            <input class="drop-input" type="file" name="mail" id="input-mail" accept=".pdf">
            <p class="drop-text" id="drop-text-mail">@Resources.Resource.MailUploadMsg</p>
            <div class="drop-button-group text-center">
                <span id="spinner" class="spinner-border spinner-border d-none" role="status" aria-hidden="true"></span>
                <div class="dropdown" id="dropdown-ocr">
                    <button class="btn btn-dark position-relative drag-drop-button d-none" type="button" id="btn-ocr" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @Resources.Resource.ViewWithOcr
                    </button>
                    <div class="dropdown-menu" id="ocr-dropdown-menu">
                        <span class="dropdown-item-text">@Resources.Resource.MailLang</span>
                        <a class="dropdown-item btn-ocr" data-lang="ara" href="#">@Resources.Resource.Arabic</a>
                        <a class="dropdown-item btn-ocr" data-lang="eng" href="#">@Resources.Resource.English</a>
                        <a class="dropdown-item btn-ocr" data-lang="fra" href="#">@Resources.Resource.French</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="drop-area mt-3" id="attachements-upload">
            <input class="drop-input" type="file" name="attachements[]" id="input-attachements" multiple accept=".pdf">
            <p class="drop-text" id="drop-text-attachements">@Resources.Resource.AttachementsUploadMsg</p>
        </div>

    </div>
</form>
